@{
    ViewBag.Title = "O nama";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

</main>
*Gym4U mjesto je dobrih vibracija i pozitivne atmosfere, te sportskog duha, namijenjen za početnike, rekreativce i sportaše koji žele unaprijediti svoje zdravlje,oblikovati tijelo, te poboljšati svoje fizičke i psihičke performanse uz konstantan nadzor naših stručnjaka.
<br />
*Teretane su opremljene s novom i modernom linijom sprava koje će izvući maksimum iz Vas, a profesionalna usluga naših trenera motivirati Vas za kontinuirani napredak i ostvarenje svih ciljeva. Na raspolaganju Vam stoji vrhunski tim stručnjaka kineziologa, te nutricionistica čiji širok opseg znanja imate na usluzi.
U rasporedu je i širok izbor grupnih treninga, samostalinih i privatnih treninga, no također nudimo i više relaksirajuće aktivnosti kao što su sauna i bazen.
<br />
*A za sve nove članove prvi sat grupnog programa je BESPLATAN!<br />
*Prednost su nam pristupačne cijene, te pozitivna i motivirajuća radna atmosfera.<br />
*Ciljani korisnici usluga našeg fitness centra su dobnih skupina od 16 godina na dalje.<br />
*Provedite svoje slobodno vrijeme u ugodnoj prijateljskoj i motivirajućoj atmosferi na kvalitetan način. Vaše tijelo će Vam biti zahvalno!
<br />                                                                                    
*Gym4U je mjesto gdje su svi dobrodošli i prihvaćeni, bez obzira na trenutnu fizičku spremu i dob. <br />
*Fokus i zvijezda vodilja poslovanja je da bi svatko trebao imati priliku da vodi zdrav i kvalitetan život, te smo tako s time sve pojednostavili - pristupačne cijene i kvalitetna usluga, kroz koju ćemo vam omogućiti edukativno, zabavno, inovativno i prijateljsko iskustvo, ne kompromitirajuće kvalitete koja obuhvaća sve zdravstvene i fitness potrebe.