@{
    ViewBag.Title = "Kontaktirajte nas:";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <address>
        Trg slobode 6, Osijek, Hrvatska<br />
        Radno vrijeme: <br />
            Ponedjeljak - Petak: 12:00 - 20:00, <br />
            Vikendi, blagdani i praznici: Zatvoreno.
    </address>

    <address>
        <strong>e-mail:</strong>   <a href="osijek@gyms4you.com">osijek@gyms4you.com</a><br />
        <strong>Telefon:</strong>   <a href="osijek@gyms4you.com">+385 31 789 780</a><br />

    </address>
</main>